<div class="background-moto">

    <h2 class="about">About Moto Destinations</h2>
    <div class="row">
        <div class="col-xs-12 col-md-8 about">
            <p >Sometimes when you are out riding the black ribbon you need to stop and stretch, <br>take a photo, or just enjoy a great piece of pie.</p>
            <p>Moto Destinations gives you the opportunity to share your favorite stops along the <br>way with other
                riders, or see what other's favorite destinations are.</p>
            <div class="row">
                <a  href="/register"><button class="btn btn-success prof-button">Register to Get Started!</button></a>
            </div>
            <div class="row">
              <p class="about">
                Already registered?
              </p>
                <a  href="/login"><button class="btn btn-primary prof-button">Log In Here</button></a>
            </div>
        </div>
        <div>

        </div>
    </div>

</div>
