<div class="background-moto">


<h2>About Moto Destinations</h2>
<div class="row about">
<div class="col-xs-12 col-md-8">



<p>Sometimes when you are out riding the black ribbon you need to stop either
  for a bio break, photo ops, or just to enjoy a great piece of pie.
  Moto Destinations gives you the opportunity to share your favorite stops
  along the way with other riders, or see what other's favorite destinations are
  to check out.</p>
<p><a class="about-login" href="/login">Sign up today to get started!</a></p>
</div>
</div>
</div>
