<!-- Map and Side Panel -->
<div class="row content">
    <!-- Google Map -->
    <div class="col-md-7">
        <div id="maphere"></div>
    </div>

    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Check In </span></h2>
            </div>
            <div class="panel-body">

                <form name="addForm" ng-submit="checkin.createdestination()" novalidate>
                    <div class="form-group">
                        <label for="username">Username </label>
                        <p id="username">{{checkin.userprofile.name}}</p>
                    </div>
                    <div class="form-group">
                        <label>Destination Name</label>
                        <input type="text" class="form-control" ng-model="checkin.destName" />
                    </div>
                    <div class="form-group">
                        <label>Destination Comments</label>
                        <input type="text" class="form-control" ng-model="checkin.destComment" />
                    </div>
                    <button type="submit" class="btn btn-danger btn-block" ng-click="createDestination()" ng-disabled="addForm.$invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
