<!-- Map and Side Panel -->
<div class="row content">
    <!-- Google Map -->
    <div class="col-md-7">
        <div id="map"></div>
    </div>

    <div class="col-md-5">

        <!-- Creates Main Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Check In </span></h2>
            </div>
            <div class="panel-body">

                <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                <form name="addForm" novalidate>
                  <button type="findme" class="btn btn-success btn-block" ng-click="findMe()" ng-disabled="addForm.$invalid">Find Me</button>
                    <div class="form-group">
                        <label for="username">Username </label>
                        <p id="username" >{{checkin.userprofile.name}}</p>
                    </div>
                    <div class="form-group">
                        <label>Location Name</label>
                        <input type="text" class="form-control" ng-model=" " />
                    </div>
                    <div class="form-group">
                        <label>Location Comments</label>
                        <input type="text" class="form-control" ng-model=" " />
                    </div>
                    <!-- <div class="form-group">
                        <label for="latitude">Latitude</label>
                        <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" readonly>
                    </div>
                    <div class="form-group">
                        <label for="longitude">Longitude</label>
                        <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
                    </div> -->


                    <!-- Submit button. Note that its tied to createdestination() function from checkinCtrl. Also note ng-disabled logic which prevents early submits.  -->
                    <button type="submit" class="btn btn-danger btn-block" ng-click="createDestination()" ng-disabled="addForm.$invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
