<h2 class="row">Profile</h2>
<div class="row ">
    <div class="profilepic .col-xs-6 .col-md-4 clearfix ">
        <img ng-src="{{profile.userprofile.userimg}}" />
    </div>
    <div class="userprof" >
        <label>Moto User Comments</label>
        <input type="text" class="form-control"  ng-model="profile.userprofile.comment"/>
    <div class="row">
        <div class="profiledetail row .col-md-3 .col-md-offset-3 pull-right">
        <label>Moto User</label>
        <p> {{profile.userprofile.name}}</p>
        <label>Moto User Email</label>
        <input type="text" class="form-control"  ng-model="profile.userprofile.email" />
        <label>Moto User Motorcycle(s)</label>
        <input type="text" class="form-control"  ng-model="profile.userprofile.motorcycle"/>
          </div>
        </div>
    </div>
    <button type="button"  class="btn btn-primary" ng-click="profile.motouserupdate()"> UPDATE PROFILE</button>
</div>


<h2 class="row">Saved Destinations</h2>
<div class="row places" >
    <table class="table table-striped" >
      <thead>
      <th>
        Destination
      </th>

    </thead>
    <tr ng-repeat="destination in profile.destArray">
      <td><button type="button" class="btn btn-link">{{destination.destName}},   {{destination.destComment}} </button></td>
      </tr>

  </table>

</div>
