<h2>Profile</h2>
<div class="profiledetail  row ">
    <!-- <div class="profilepic .col-xs-6 .col-md-4 clearfix ">
        <img ng-src="{{profile.userprofile.userimg}}" />
    </div> -->
    <div class="row ">
        <form>
            <label>Moto User</label>
            <p class="details"> {{profile.userprofile.name}}</p>
            <label>Moto User Comments</label>
            <input type="text" class="form-control" ng-model="profile.userprofile.comment" />
            <label>Moto User Email</label>
            <input type="text" class=" form-control" ng-model="profile.userprofile.email" />
            <label>Moto User Motorcycle(s)</label>
            <input type="text" class="form-control" ng-model="profile.userprofile.motorcycle" />

        </form>
    </div>
    <div class="row">
        <button type="button" href="#myModalUpdate" data-toggle="modal" class="btn btn-primary" ng-click="profile.motouserupdate()"> Save Changes to Profile</button>
        <button class="btn btn-success"><a  href="/search">Search for Destinations Near You</a></button>
        <button class="btn btn-info"><a  href="/checkin">Check In to your Current Location</a></button>
    </div>

</div>

<div class="row">
    <div class=".col-md-4 .col-md-offset-4">

    </div>
</div>
<div class="row">
</div>

<div class="container">
    <div class="row places">
        <div class="table-responsive">
          <h3>My Saved Destinations</h3>
            <table class="table table-striped">
                <thead>
                    <th>
                        Click to Link to Directions
                    </th>
                    <th>
                    </th>
                </thead>
                <tr ng-repeat="destination in profile.destArray">
                    <td><a target="_blank" href="http://www.google.com/maps/dir/Current+Location/{{destination.location[1]}},{{destination.location[0]}}"><button type="button" class="btn btn-link">{{destination.destName}},   {{destination.destComment}} </button></a></td>
                    <td>
                        <reverse-geocode lat="{{destination.location[1]}}" lng="{{destination.location[0]}}"></reverse-geocode>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="myModalUpdate" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Profile now updated!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
