<!-- Map and Side Panel -->
<div class="row content">
    <!-- Google Map -->
    <div class="col-md-7">
        <div id="maphere"></div>
    </div>

    <div class="col-md-5">

        <!-- Creates Main Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Search For Destinations Near Me </span></h2>
            </div>
            <div class="panel-body">
                <form name="addForm" novalidate>


                  <div class="form-group">
                      <label for="distance">Max. Distance (miles)</label>
                      <input type="text" class="form-control" id="distance" placeholder="500" ng-model="formData.distance">
                  </div>
                  <button type="findme" class="btn btn-success btn-block"  ng-disabled="addForm.$invalid">Search Destinations</button>
            </div>

            <h3 class="row">Saved Destinations</h3>
            <div class="row transp places" >
                <table class="table table-striped" >
                  <thead>
                  <th>
                    Place
                  </th>
                </thead>
                <tr ng-repeat="destination in search.destArray">
                  <td>{{destination.destName}},   {{destination.destComment}} </td>
                  </tr>

              </table>

            </div>
