html{
  position: relative;
  min-height: 100%;
}
body{
    /*background: url('../images/photo2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
    margin: 0 0 100px; /* bottom = footer height */
    padding: 1px;
}
h1{
  font-size: 50px;
  color: white;
  font-weight: bolder;
}
h2{
  color: white;
}
.dropdown{
  font-size: 25px;
}
.transp{
  margin: 30px;
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=60);
}
.transp.transbox p{
  margin: 5%;
    font-weight: bold;
    color: #000000;
}
a{
  color: black;
}
.foot{
    font-size: 15px;
    color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}
#map {
    height: 645px;
    width: 645px;
    border: 1px solid black;
}
.profiledetail{
  width: 50%;
}
.places{
  border: 1px solid black;
}
