html{
  position: relative;
  min-height: 100%;
}
body{
    /*margin: 0 0 100px; /* bottom = footer height */
    padding: 30px 15px 70px 15px;
    font-family: 'Work Sans', sans-serif;
    /*margin: 15px auto 35px 1px;*/
}
.wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
    /* Negative indent footer by it's height */
  margin: 0 auto -35px 1px;
}

.prof-button{
  margin: 15px;
}
.details{
  font-size: 20px;
}
.view-div{
  height: 100%;
  width: 100%;
  padding: 15px;
}
.background-moto{
  margin: 0;
  background-image: url('../images/photo2.jpg');
  background-size: cover;
  height: 1000px;
  width: 100%;
}
.register{
  font-size: 15px;
  text-decoration:underline;
}
.about{
  color: white;
}
.title{
  margin-top: 15px;
  margin-bottom: 5px;
}
h1{
  font-size: 50px;
  color: black;
  font-weight: bolder;
}

.dropdown{
  font-size: 25px;
}
.about{
  margin: 30px;
  color: white;
}

a{
  color: black;
}
td{
  text-align:left;
  vertical-align: top;
}

.text-left{
  text-align: left !important;
  border: none;
  background-color: transparent;
  color: blue;
  text-decoration: underline;
}
.marker-link{
  color: blue;
  text-decoration: underline;
}

footer{
  bottom: 0;
  position:absolute;
  left: 0;
  margin: 0;
  height: 35px;
  width: 100%;
}

#foot{
  margin-left:  15px !important;
  margin-right: 15px;
}
#maphere {
    height: 500px;
    width: auto;
    border: 1px solid black;
}
#mapsearch {
    height: 500px;
    width: auto;
    border: 1px solid black;
}
.profiledetail{
  width: 50%;
  color: black;
  margin-left: 20px;
}
